# Loading data

In [3]:
import pandas as pd

path = r"C:\Users\Jesus Sanchez\Desktop\ALEXIS\1. Pre-Trabajo\1. Supply Chain Intelligence\data\raw\online_retail_II.xlsx"

# 1. Leer todas las hojas
df_dict = pd.read_excel(path, sheet_name=None)

# 2. AÃ±adir una columna identificadora a cada hoja antes de unir
frames = []
for sheet_name, frame in df_dict.items():
    frame['Period'] = sheet_name  # Crea una columna con el nombre de la hoja (e.g., 'Year 2009-2010')
    frames.append(frame)

# 3. Concatenar con la nueva columna
df = pd.concat(frames, ignore_index=True)

print(f"Registros totales: {df.shape[0]}")
print(f"Columnas actuales: {df.columns.tolist()}") # VerÃ¡s que ahora 'Period' existe

Registros totales: 1067371
Columnas actuales: ['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'Price', 'Customer ID', 'Country', 'Period']

# Inspecting data

In [5]:
# 1. Ver tipos de datos y nulos por columna
print("--- Resumen de Columnas y Nulos ---")
print(df.info())

# 2. Ver cuÃ¡ntos nulos hay exactamente por columna
print("\n--- Conteo de Valores Nulos ---")
print(df.isnull().sum())

# 3. Ver una muestra de los datos para entender las columnas
print("\n--- Muestra de los datos ---")
display(df.head())

# 4. Resumen estadÃ­stico con formato por columna
# Definimos el formato: Quantity como nÃºmero limpio y Price como moneda
resumen_estilo = df[["Quantity", "Price"]].describe().style.format({
    "Quantity": "{:,.2f}",
    "Price": "Â£{:,.2f}"
})

display(resumen_estilo)

--- Resumen de Columnas y Nulos ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
 8   Period       1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 73.3+ MB
None

--- Conteo de Valores Nulos ---
Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
Period              0
dtype: int64

--- Muestra de los datos ---

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Period
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,Year 2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,Year 2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,Year 2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,Year 2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,Year 2009-2010

# Revizando percentiles para filtrar datos

In [15]:
# Definimos los percentiles que queremos observar (0.99 es el 99%)
percentiles_extra = [.03, .05, .1, .25, .5, .75, .9, .95, .99]

resumen_estilo = df[["Quantity", "Price"]].describe(percentiles=percentiles_extra).style.format({
    "Quantity": "{:,.2f}",
    "Price": "Â£{:,.2f}"
})

display(resumen_estilo)

Dado que por debajo de los percentiles 1 en quantity los numeros son muy bajos, se mantienen los datos por encima de ese numero para quantity y price y como la informaciÃ³n por encima del percentil 99 es muy grande los calculos se pueden distorcionar, por lo que se elimina esa informaciÃ³n. TambiÃ©n se eliminan cantidades y precios negativos

In [17]:
# Asegurarnos de que InvoiceNo sea string para poder filtrar
df['Invoice'] = df['Invoice'].astype(str)

# --- DATASET 1: CANCELACIONES ---
# Filtramos solo las que empiezan con 'C'
df_cancellations = df[df['Invoice'].str.startswith('C')].copy()

# --- DATASET 2: LIMPIO PRINCIPAL (Ventas Reales) ---
# 1. Eliminar filas sin DescripciÃ³n
df_main_clean = df.dropna(subset=['Description']).copy()

# 2. Excluir las cancelaciones
df_main_clean = df_main_clean[~df_main_clean['Invoice'].str.startswith('C')]

# 3. Asegurar valores positivos (a veces hay ajustes manuales negativos sin 'C')
df_main_clean = df_main_clean[(df_main_clean['Quantity'] > 0) & (df_main_clean['Price'] > 0)]

# 4. Filtro de Percentiles (1% y 99%)
# Calculamos los lÃ­mites basados en el dataset de ventas reales
q_low, q_high = df_main_clean['Quantity'].quantile([0.01, 0.99])
p_low, p_high = df_main_clean['Price'].quantile([0.01, 0.99])

# Aplicamos el filtro: mayor al percentil 1 y menor al 99
df_main_clean = df_main_clean[
    (df_main_clean['Quantity'] >= q_low) & (df_main_clean['Quantity'] <= q_high) &
    (df_main_clean['Price'] >= p_low) & (df_main_clean['Price'] <= p_high)
]

print(f"âœ… Dataset de Cancelaciones creado con: {len(df_cancellations):,} registros")
print(f"âœ… Dataset Principal Limpio creado con: {len(df_main_clean):,} registros")
print(f"   (LÃ­mites usados: Quantity[{q_low}-{q_high}], Price[{p_low}-{p_high}])")

âœ… Dataset de Cancelaciones creado con: 19,494 registros
âœ… Dataset Principal Limpio creado con: 1,014,932 registros
   (LÃ­mites usados: Quantity[1.0-100.0], Price[0.29-18.0])

# Guardando base de datos en formato CSV

In [ ]:
# GENERAL 
# Guardamos en la carpeta de datos procesados. 
# index=False evita que se cree una columna extra con los nÃºmeros de fila.
output_path = r'C:\Users\Jesus Sanchez\Desktop\ALEXIS\1. Pre-Trabajo\1. Supply Chain Intelligence\data\processed\cleaned_retail_data.csv'
df_main_clean.to_csv(output_path, index=False)


# CANCELACIONES 
output_path = r'C:\Users\Jesus Sanchez\Desktop\ALEXIS\1. Pre-Trabajo\1. Supply Chain Intelligence\data\processed\cancelation_retail_data.csv'
df_cancellations.to_csv(output_path, index=False)

# Guardando base de datos en formato SQLite

In [ ]:
# GENERAL 

import sqlite3

# 1. Crear conexiÃ³n a la base de datos (se crearÃ¡ el archivo si no existe)
# Lo guardaremos en la carpeta 'data/' que creamos antes
conn = sqlite3.connect(r'C:\Users\Jesus Sanchez\Desktop\ALEXIS\1. Pre-Trabajo\1. Supply Chain Intelligence\data\processed\retail_vault.db')

# 2. Guardar el DataFrame limpio en una tabla llamada 'transactions'
print("ðŸ“¦ Guardando datos en SQLite... (esto serÃ¡ rÃ¡pido)")
df_main_clean.to_sql('transactions', conn, if_exists='replace', index=False)

# 3. Cerrar conexiÃ³n
conn.close()
print("âœ… Â¡Base de datos 'retail_vault.db' creada con Ã©xito en la carpeta data/!")



# CANCELACIÃ“N 

import sqlite3

# 1. Crear conexiÃ³n a la base de datos (se crearÃ¡ el archivo si no existe)
# Lo guardaremos en la carpeta 'data/' que creamos antes
conn = sqlite3.connect(r'C:\Users\Jesus Sanchez\Desktop\ALEXIS\1. Pre-Trabajo\1. Supply Chain Intelligence\data\processed\cancelation_retail_vault.db')

# 2. Guardar el DataFrame limpio en una tabla llamada 'transactions'
print("ðŸ“¦ Guardando datos en SQLite... (esto serÃ¡ rÃ¡pido)")
df_cancellations.to_sql('transactions', conn, if_exists='replace', index=False)

# 3. Cerrar conexiÃ³n
conn.close()
print("âœ… Â¡Base de datos 'retail_vault.db' creada con Ã©xito en la carpeta data/!")

ðŸ“¦ Guardando datos en SQLite... (esto serÃ¡ rÃ¡pido)
âœ… Â¡Base de datos 'retail_vault.db' creada con Ã©xito en la carpeta data/!

In [19]:
# Analizar los 10 productos mÃ¡s cancelados
top_cancellations = df_cancellations.groupby('Description')['Quantity'].sum().abs().sort_values(ascending=False).head(10)

print("\n--- PRODUCTOS CON MAYOR VOLUMEN DE CANCELACIÃ“N ---")
print(top_cancellations)

# Â¿Hay algÃºn patrÃ³n por paÃ­s?
cancellations_by_country = df_cancellations.groupby('Country')['Invoice'].count().sort_values(ascending=False).head(5)
print("\n--- TOP 5 PAÃSES CON MÃS CANCELACIONES ---")
print(cancellations_by_country)

--- PRODUCTOS CON MAYOR VOLUMEN DE CANCELACIÃ“N ---
Description
PAPER CRAFT , LITTLE BIRDIE            80995
MEDIUM CERAMIC TOP STORAGE JAR         74494
ROTATING SILVER ANGELS T-LIGHT HLDR    18750
SET/6 FRUIT SALAD PAPER CUPS            7140
SET/6 FRUIT SALAD  PAPER PLATES         7008
Manual                                  5450
POP ART PEN CASE & PENS                 5184
BLACK SILVER FLOWER T-LIGHT HOLDER      5040
MULTICOLOUR SPRING FLOWER MUG           4996
TEATIME PEN CASE & PENS                 4632
Name: Quantity, dtype: int64

--- TOP 5 PAÃSES CON MÃS CANCELACIONES ---
Country
United Kingdom    16650
Germany             921
EIRE                512
France              389
USA                 126
Name: Invoice, dtype: int64